body {
    margin: 0;
    font-family: 'Verdana', sans-serif;
    background-color: #0d0d0d;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url(halloween.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
h1 {
    font-size: 5em;
    color: #ff7518;
    text-shadow: 3px 3px 10px black;
}

h2 {
    font-size: 2em;
    color: #e9bc9e;
    text-shadow: 3px 3px 10px black;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: 1;
    }
    20%, 24%, 55% {
        opacity: 0.4;
    }
}
.countdown {
    font-size: 2em;
    margin: 20px;
    color: #fff;
    text-shadow: 3px 3px 10px black;
}


@keyframes float {
    0% { top: 10%; left: 5%; }
    50% { top: 50%; left: 80%; }
    100% { top: 10%; left: 5%; }
}
