body {
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1f2933;
    background-color: antiquewhite;
}

h1 {
    text-transform: uppercase;
    color: #0b1e3a;
    font-weight: bold;
    position: relative;
}

p {
    box-shadow: rgba(15, 23, 42, 0.12);
    text-align: center;
    width: 100%;
}

a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #3f3f3f;
    font-weight: lighter;
}

a:hover {
    color: #084298;
    box-shadow: 0 6px 18px rgba(60, 70, 85, 0.25);
    background-color: azure;
}



a:hover img
{
    border-color: rgba(8, 66, 152, 0.55);
    background-color: azure;
}
