body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: rgb(255,255,255);
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

tr{
    border: 3px, solid, black;
}

td{
    width: 150px;
    height: 150px;
    border: 3px, solid, black;
}

.silver{
    background-color: #C0C0C0;
    color: black;
}

.gray{
    background-color: #808080;
    color: white;
}

.maroon{
    background-color: #800000;
    color: white;
}

.green{
    background-color: #008000;
    color: white;
}

.white{
    background-color: #ffffff;
    color: black;
}

.black{
    background-color: #000000;
    color: white;
}

.red{
    background-color: #ff0000;
    color: black;
}

.lime{
    background-color: #00ff00;
    color: black;
    border: 5px dotted black
}

.navy{
    background-color: #000080;
    color: white;
}

.purple{
    background-color: #800080;
    color: white;
}

.olive{
    background-color: #808000;
    color: white;
}

.teal{
    background-color: #008080;
    color: white;
    border: 3px, dotted, wheat;
    cursor: pointer;
}

.blue{
    background-color: #0000ff;
    color: white;
}

.magenta{
    background-color: #ff00ff;
    color: black;
}

.yellow{
    background-color: #ffff00;
    color: black;
}

.cyan{
    background-color: #00ffff;
    color: black;
}